server:
  port: 8081
  servlet:
    context-path: /api

spring:
  application:
    name: micro-clientes
  datasource:
    url: jdbc:postgresql://localhost:5432/clientes_db
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

logging:
  level:
    org.springframework.amqp: DEBUG
    org.springframework.rabbit: DEBUG
    com.rabbitmq: DEBUG